<a href="https://colab.research.google.com/github/qbfdeleon-code/CPE-009A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [89]:
if 5>2:
  print ("Five is greater than two!")

Five is greater than two!

Python Comments

In [90]:
#This is a comment
print("Hello, world")

Hello, world

Pyhton Variable

In [91]:
x=1
a,b=0, -1
a,b,c=0,-1,2

#Others:
b ="Sally" #This is a type of string
print(b)

Sally

Casting

In [92]:
b="sally"#This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() Function

In [93]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single quote'

In [94]:
y="John"
y='John'

Case sensitive

In [95]:
a=4
A="Sally"
#A will not overite a

Multiple Variables

In [96]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [97]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [98]:
x="enjoying"
print("Python programming is "+x)

#Other way:
x="Python is "
y="enjoying"
z=x+y
print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [101]:
x+=3
x=x+3

x-=3
x=x-3


x*=3
x=x*3

x/=3
x=x/3

x%=3
x=x%3

x//=3
x=x//3

x**=3
x=x**3

x&=3
x=x&3

x|=3
x=x|3

x^=3
x=x^3

x>>=3
x=x>>3

x<<=3
x=x<<3

Comparison Operators

In [102]:
t=1
u=2

t==u
t!=u
t>u
t<u
t>=u
t<=u

True

Logical Operators

In [103]:
t=3
u=7

t<5 and u<10
t>5 or u<4
not(t>3 or u>3)
not(t==1 and u>5)

True

Identity Operators

In [105]:
t is u
t is not u

True

Bitwise Operators

In [109]:
v=2

v<<1
v<<2
1&2
15&15

15